<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.golfscoringapp"> <!-- Remove or update this if present -->

    <application
        android:theme="@style/Theme.GolfScoreApp"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".GameDetailsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScoringActivity"></activity>
        <activity android:name=".ResultsActivity"></activity>
        <activity android:name=".ResultsSummaryActivity"></activity>
    </application>

</manifest>